NEXT_PUBLIC_APP_URL=http://127.0.0.1:3000
NEXT_PUBLIC_SUPABASE_URL=https://wwqcgitvrnuhqbhmrfpx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3cWNnaXR2cm51aHFiaG1yZnB4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3Mzk5MTAsImV4cCI6MjA5MDMxNTkxMH0.lsT_i6l2u_-Iivf71e3SdOSsIK_sn3BLjbNjRbFv508
SUPABASE_SERVICE_ROLE_KEY=replace-with-hosted-service-role-key
